<%- include('partials/header') %>
<div class="form-container">
    
    <% if(locals.error) { %>
        <div class="alert alert-danger"><%= error %></div>
    <% } %>
    <% if(locals.success) { %>
        <div class="alert alert-success"><%= success %></div>
    <% } %>
    <script>
    $().ready(function() {
        console.log('In back')
       
            history.pushState(null, null, 'login');
            window.addEventListener('popstate', function () {
                history.pushState(null, null, 'login');
            });
            
    });
    </script>
    <form method="post"  name="login">
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" value="<%= locals.username || '' %>" class="form-control" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" class="form-control" />
        </div>
        <div class="form-group">
            <button type="submit" class=" btn btn-block mybtn btn-primary tx-tfm">Login</button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>